* {margin: 0; padding: 0;}
 
body {
  background: #00a651;
}
.sideBox{
	width: 695px;
	margin-left: auto;
	margin-right: auto;
  float: right;
}
 
.card {
  position: relative;
  float: left;
  margin: 10px;
  width: 150px;
  height: 220px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
 
}
.card p{
  text-align: center;
  font: 100px/220px Georgia, Times New Roman, serif;
}
.suitdiamonds
{
	color: #ff0000;
}
.suitdiamonds:before, .suitdiamonds:after {
  content: "♦";
  color: #ff0000;
}

.suithearts{
	color: #ff0000;
} 
.suithearts:before, .suithearts:after {
  content: "♥";
  color: #ff0000;
}
 
.suitclubs
{
	color: #000;
}
.suitclubs:before, .suitclubs:after {
  content: "♣";
  color: #000;
}
 
.suitspades{
	color:#000;
}
.suitspades:before, .suitspades:after {
  content: "♠";
  color: #000;
}

div[class*='suit']:before {
  position: absolute;
  font-size: 40px;
  left: 8px;
  top: 0px;
}
 
div[class*='suit']:after {
  position: absolute;
  font-size: 40px;
  right: 8px;
  bottom: 0px;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
}

/*.grow > .card:hover {
	-webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.9);
	box-shadow: 1px 1px 7px rgba(0,0,0,0.9);
	-webkit-transform: scale(1.05,1.05);
	-moz-transform: scale(1.05,1.05);
	-o-transform: scale(1.05,1.05);
	-ms-transform: scale(1.05,1.05);
	transform: scale(1.05,1.05);
}
.grow > .card {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}*/

.cover{
	float: left;
	width: 150px;
	height: 220px;
	border-radius: 10px;
	position: absolute;
	font-size: 80px;
	z-index: 2;
	top:0px;

	background-image:url('../images/deckback.jpg');
}

.wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  overflow: hidden;
}
.player-info
{
  padding-top: 20px;
  height: 100px;
  float: left;
}
.player-info h2
{
  margin-bottom: 10px;

}