<!-- <html class="no-js" lang="en" manifest="manifest.appcache">
 -->	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/semantic.css')}}">
		<script type="text/javascript" src="{{url_for('static',filename='javascript/jquery-1.11.0.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static',filename='javascript/semantic.js')}}"></script>

	</head>
	<body>
   <div class="wrapper">
   		<h1 class="ui center aligned header">Welcome To Our Card Game</h1>

   	<div class="ui two column page grid">
   		<div class="column">
    		
    			<a href="single" class="ui green button">Single Player</a>

    		
  		</div>
  		<div class="column">
    		
    			<a style="float: right;" href="multi" class="ui red button">Two Player</a>
    		
  		</div>
  	</div>


   </div>
  </body>
</html>
